database_host = localhost:3306
database_username = chess
database_password = 46^Bc8nj
database_name = chess
stockfish_standard_path = /srv/nodeapp/chessanalytics/StockFishWorker/StockFishEngine/Standard/stockfish
worker_standard_instances = 5
stockfish_pawnmod_path = /srv/nodeapp/chessanalytics/StockFishWorker/StockFishEngine/PawnMod/stockfish
worker_pawnmod_instances = 3
task_timeout = 15
lock_expires = 5
lock_regenerate_before = 1000
waiting_after = 10000
waiting_duration = 5000
max_attempts = 3
max_respawns = 100
respawn_period = 5000