doctype html
html
	head
		title Chess Analytics
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/style.css')

		script(type='text/javascript', src='/js/socket.io.js')

		script(type='text/javascript', src='/js/jquery-2.1.4.min.js')
		script(type='text/javascript', src='/js/chess_xhr.js')
		script(type='text/javascript', src='/js/chess.js')
		script(type='text/javascript', src='/js/bootstrap.min.js')
		script(type='text/javascript', src='/js/handlebars.js')
		script(type='text/javascript', src='/js/app.js')
		script(type='text/javascript', src='/js/jquery-ui-1.10.4.custom.min.js')
		
		
		script(type='text/javascript', src='/js/bootstrap.js')
		script(type='text/javascript', src='/js/bootstrap-slider.min.js')
		script(type='text/javascript', src='/js/ui.js')
		script(type='text/javascript', src='/js/girdle.js')
		script(type='text/javascript', src='/js/font_fit.js')
		script(type='text/javascript', src='/js/kingdom-board.js')
		script(type='text/javascript', src='/js/worker.js')
		script(type='text/javascript', src='/js/kingdom-pgn.js')
		script(type='text/javascript', src='/js/jquery.oauthpopup.js')
		script(type='text/javascript', src='/js/bootstrap-datetimepicker.js')
		script(src='/lib/semantic/dist/semantic.min.js')
		
		link(rel='stylesheet', href='/css/bootstrap.css')
		link(rel='stylesheet', href='/css/font-awesome.min.css')
		link(rel='stylesheet', href='/css/bootstrap-slider.css')
		link(rel='stylesheet', href='/css/kingdom.css')

		link(rel='stylesheet', href='/css/chess.css')
		link(rel='stylesheet', href='/css/gnomechess.css')
		link(rel='stylesheet', href='/css/bootstrap-datetimepicker.js')
		link(rel='stylesheet', type='text/css', href='/lib/semantic/dist/semantic.min.css')

	body
		.ui.container

		block content